.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tile-container {
  position: absolute;
}

.stones {
  position: absolute;
}

.stone {
  width: 23px;
  height: 23px;
  position: absolute;
}

.confirm{
  height: 50px;
  width: 50px;
  border: 1px solid black;

  position: relative;
  left: 30%;
  bottom: 0;
  margin: 10px;

  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.cancel{
  height: 50px;
  width: 50px;
  border: 1px solid black;

  position: relative;
  right: 30%;
  bottom: 0;
  margin: 10px;

  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
