<div class="grid" cdkDropListGroup>
  <div
    class="tile-row"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    *ngFor="let row of tiles; index as i"
    [cdkDropListData]="tiles[i]"
  >
    <ng-container *ngFor="let tile of row">
      <tile
        tileIndex="{{ tile }}"
        *ngIf="tile != '' && tile != '-1'; else empty"
      ></tile>
      <ng-template #empty
        ><tile-empty cdkDrag *ngIf="tile != '-1'; else none"></tile-empty
      ></ng-template>
      <ng-template #none><tile-placeholder></tile-placeholder></ng-template>
    </ng-container>
  </div>
</div>
